.ui.centered.grid>.copper.row{
  background:#b87333;
  color: white;
}

.ui.centered.grid>.silver.row{
  background:#C0C0C0;
  color: white;
}

/* Fix using box-shadow */

.ui.centered.grid>.white.selected.row,.ui.centered.grid>.copper.selected.row,.ui.centered.grid>.silver.selected.row,.ui.centered.grid>.grey.selected.row{
  /* border:4px black solid; */
  box-shadow:inset 0px 0px 0px 4px black;
}

.ui.centered.grid>.selected.row{
  /* border:4px white solid; */
  box-shadow:inset 0px 0px 0px 4px
}