.body.column{
  background: #ffcd94;
}

.ui.nine.column.grid>.column{
  height: 180px;
}

.ui.nine.column.grid>.copper.column{
  background:#b87333;
}

.ui.nine.column.grid>.silver.column{
  background:#C0C0C0;
}

.four.wide.grey.column{
  height:10px;
  margin-top: 80px;
}

.ui.grid.container.space{
  margin-top: 1%;
}

.two.wide.body.column.left{
  border-radius: 15px 0 0 15px;
}

.two.wide.body.column.right{
  border-radius: 0 15px 15px 0;
}
